[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/bundle/numbers.vim"]
	path = .vim/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule ".vim/bundle/vim-lastplace"]
	path = .vim/bundle/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace
[submodule ".vim/bundle/vim-mundo"]
	path = .vim/bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule ".vim/bundle/vim-alias"]
	path = .vim/bundle/vim-alias
	url = https://github.com/Konfekt/vim-alias
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/fzf-mru.vim"]
	path = .vim/bundle/fzf-mru.vim
	url = https://github.com/pbogut/fzf-mru.vim
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/splitjoin.vim"]
	path = .vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-sort-motion"]
	path = .vim/bundle/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion
[submodule ".vim/bundle/vim-sneak"]
	path = .vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule ".vim/bundle/splice.vim"]
	path = .vim/bundle/splice.vim
	url = https://github.com/sjl/splice.vim.git
[submodule ".vim/bundle/vim-anzu"]
	path = .vim/bundle/vim-anzu
	url = https://github.com/osyo-manga/vim-anzu
[submodule ".vim/bundle/vim-system-copy"]
	path = .vim/bundle/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy
[submodule ".vim/bundle/vim-highlightedyank"]
	path = .vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule ".vim/bundle/vim-over"]
	path = .vim/bundle/vim-over
	url = https://github.com/osyo-manga/vim-over
[submodule ".vim/bundle/vim-litecorrect"]
	path = .vim/bundle/vim-litecorrect
	url = https://github.com/reedes/vim-litecorrect
[submodule ".vim/bundle/is.vim"]
	path = .vim/bundle/is.vim
	url = https://github.com/haya14busa/is.vim
[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/vim-mma"]
	path = .vim/bundle/vim-mma
	url = https://github.com/voldikss/vim-mma
