[core]
	pager = which d >/dev/null 2>/dev/null && d || less
[user]
	name = Jonas Haag
	email = jonas@lophus.org
[push]
	default = current
	autoSetupRemote = true
[pager]
	diff = true
	show = true
	log = true
[interactive]
	diffFilter = which d >/dev/null 2>/dev/null && d --color-only || less
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
	algorithm = histogram
	submodule = log
	srcPrefix =
	dstPrefix =
[sequence]
	editor = interactive-rebase-tool
[delta]
	navigate = true
	#line-numbers = true
	hyperlinks = true
[interactive-rebase-tool]
	inputMoveUp = k
	inputMoveDown = j
	inputMoveLeft = h
	inputMoveRight = l
	inputMoveSelectionUp = Up
	inputMoveSelectionDown = Down
[branch]
	autosetupmerge = true
	sort = -committerdate
[init]
	defaultBranch = master
[url "git@github.com:"] 
	insteadOf = https://github.com/ 
 	insteadOf = git://github.com/ 
 	insteadOf = http://github.com/ 
[rebase]
	autosquash = true
	autostash = true
[commit]
	verbose = true
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[tag]
	sort = taggerdate
[fetch]
	prune = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
