[submodule "sys/hosts"]
	path = sys/hosts
	url = git@github.com:jonashaag/hosts
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/vim-scripts/ack.vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/vim-scripts/molokai
[submodule ".vim/bundle/sparkup"]
	path = .vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup/
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-scripts/syntastic
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule ".vim/bundle/vim-fish"]
	path = .vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-hdevtools"]
	path = .vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule ".vim/bundle/vimshell.vim"]
	path = .vim/bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim
