[core]
	pager = which delta >/dev/null 2>/dev/null && delta $(defaults read -globalDomain AppleInterfaceStyle &> /dev/null || echo --light) || less
[user]
	name = Jonas Haag
	email = jonas@lophus.org
[push]
	default = current
[pager]
	diff = true
	show = true
	log = true
[interactive]
	diffFilter = which delta >/dev/null 2>/dev/null && delta $(defaults read -globalDomain AppleInterfaceStyle &> /dev/null || echo --light) --color-only || less
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[sequence]
	editor = interactive-rebase-tool
[delta]
	navigate = true
	#line-numbers = true
	hyperlinks = true
[interactive-rebase-tool]
	inputMoveUp = k
	inputMoveDown = j
	inputMoveLeft = h
	inputMoveRight = l
	inputMoveSelectionUp = Up
	inputMoveSelectionDown = Down
